# Dependencies
node_modules/

# Next.js
.next/
out/

# Backend build
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Logs
*.log
npm-debug.log*

# Uploads
uploads/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db*.zip
*.zip
